h1{
  text-align: center;
}
h3{
  text-align: center;
}
p{
  font-weight: bold;
  font-size: 20px;
}

#login-panel {
  margin-top: 200px;
}

#login_user_label{
  background: black;
}

#login_password_label{
  background: black;
}


