/* #diary_table td:first-child{
  display: none;
}
#diary_table th:first-child{
  display: none;
} */

#diary_table td:nth-child(4n+0){
  display: none;
}
#diary_table th:nth-child(4n+0){
  display: none;
}

html{
  font-size: 10px;
}

.ui-dialog .ui-dialog-titlebar{
    border: 2px;
    background-color: #a5c7ff;
    font-size: 1.5em;
    font-weight: 600;
}
.ui-dialog .ui-dialog-content{
  border: 0;
  padding: 20px;
  font-size: 20px;
  color:#000000;
  background-color: #a5c7ff;
}
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}
.ui-draggable-handle {
  -ms-touch-action: none;
  touch-action: none;
}
.Tag_par{
  font-size: 0.8em;
  color: grey;
  /* border: solid grey 1px;
  border-radius: 3px;
  padding-right: 1px; */
}

#wrapper {
  width: 100%;
}
#page-wrapper {
  /* padding: 0 15px; */
  padding-left: 15%;
  padding-right: 2.5%;
  min-height: 568px;
}

.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.dropdown-container {
  display: none;
}

#login_body{
  background-image: url(../main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#login_panel{
  background-color: rgb(234, 237, 242, 0.6);
}
#login_panel_heading{
  opacity: 0.9;
}
#login_form{
  margin-top: 12.5%;
}
#login_btns{
  background: white;
}